.quarto/_freeze/clean_renderings_test/execute-results/html.json
.quarto/_freeze/clean_renderings_test/figure-html/test-base-graphics-1.svg
.quarto/_freeze/clean_renderings_test/figure-html/test-base-graphics-2.svg
.quarto/_freeze/clean_renderings_test/figure-html/test-basic-renderings-1.svg
.quarto/_freeze/clean_renderings_test/figure-html/test-basic-renderings-2.svg
.quarto/_freeze/clean_renderings_test/figure-html/test-oeda-themes-1.svg
.quarto/_freeze/clean_renderings_test/figure-html/test-oeda-themes-2.svg
.quarto/_freeze/minimal_renderings_test/execute-results/html.json
.quarto/_freeze/minimal_renderings_test/figure-html/unnamed-chunk-1-1.svg
.quarto/_freeze/minimal_renderings_test/figure-html/unnamed-chunk-1-2.svg
.quarto/_freeze/oeda_brand/execute-results/html.json
.quarto/_freeze/oeda_brand/figure-html/render-bar-plot-1.svg
.quarto/_freeze/oeda_brand/figure-html/render-bar-plot-2.svg
.quarto/_freeze/oeda_brand/figure-html/render-scatter-plot-1.svg
.quarto/_freeze/oeda_brand/figure-html/render-scatter-plot-2.svg
.quarto/_freeze/oeda_brand/figure-html/render-swatch-plots-1.svg
.quarto/_freeze/oeda_brand/figure-html/render-swatch-plots-2.svg
.quarto/_freeze/plot-toggle-test/execute-results/html.json
.quarto/_freeze/plot-toggle-test/figure-html/test-scatter-1.svg
.quarto/_freeze/site_libs/clipboard/clipboard.min.js
.quarto/idx/brand-pdf.qmd.json
.quarto/idx/clean_renderings_test.qmd.json
.quarto/idx/index.qmd.json
.quarto/idx/issues.qmd.json
.quarto/idx/minimal_renderings_test.qmd.json
.quarto/idx/oeda_brand.qmd.json
.quarto/idx/plot-toggle-test.qmd.json
.quarto/project-cache/5639437fa95e6ccaaf042bc567c8718f
.quarto/project-cache/bed0f5b3f14568975db7168b62ddb66b
.quarto/project-cache/deno-kv-file
.quarto/xref/25ed1c57
.quarto/xref/61a6d6c6
.quarto/xref/58189ea2
.quarto/xref/688496b4
.quarto/xref/b45d083e
.quarto/xref/ce4a1733
.quarto/xref/f1ad26b5
.quarto/xref/INDEX
_site/brand-pdf.html
_site/clean_renderings_test.html
_site/index.html
_site/issues.html
_site/manual-test-dark.svg
_site/manual-test-light.svg
_site/minimal_renderings_test.html
_site/oeda_brand.html
_site/plot-toggle-test.html
_site/search.json
_site/assets/oeda-logo-wide-dark-fixed.afpub
_site/clean_renderings_test_files/figure-html/test-base-graphics-1.svg
_site/clean_renderings_test_files/figure-html/test-base-graphics-2.svg
_site/clean_renderings_test_files/figure-html/test-basic-renderings-1.svg
_site/clean_renderings_test_files/figure-html/test-basic-renderings-2.svg
_site/clean_renderings_test_files/figure-html/test-oeda-themes-1.svg
_site/clean_renderings_test_files/figure-html/test-oeda-themes-2.svg
_site/minimal_renderings_test_files/figure-html/unnamed-chunk-1-1.svg
_site/minimal_renderings_test_files/figure-html/unnamed-chunk-1-2.svg
_site/oeda_brand_files/figure-html/render-bar-plot-1.svg
_site/oeda_brand_files/figure-html/render-bar-plot-2.svg
_site/oeda_brand_files/figure-html/render-scatter-plot-1.svg
_site/oeda_brand_files/figure-html/render-scatter-plot-2.svg
_site/oeda_brand_files/figure-html/render-swatch-plots-1.svg
_site/oeda_brand_files/figure-html/render-swatch-plots-2.svg
_site/plot-toggle-test_files/figure-html/test-scatter-1.svg
_site/site_libs/bootstrap/bootstrap-icons.css
_site/site_libs/bootstrap/bootstrap-icons.woff
_site/site_libs/bootstrap/bootstrap.min.js
_site/site_libs/clipboard/clipboard.min.js
_site/site_libs/quarto-html/anchor.min.js
_site/site_libs/quarto-html/popper.min.js
_site/site_libs/quarto-html/quarto-syntax-highlighting-1571ee4bb74045c183374d4d5479276b.css
_site/site_libs/quarto-html/quarto-syntax-highlighting-dark-64611ebbca5030ba7e992803fc12815a.css
_site/site_libs/quarto-html/quarto.js
_site/site_libs/quarto-html/tippy.css
_site/site_libs/quarto-html/tippy.umd.min.js
_site/site_libs/quarto-html/axe/axe-check.js
_site/site_libs/quarto-html/tabsets/tabsets.js
_site/site_libs/quarto-nav/headroom.min.js
_site/site_libs/quarto-nav/quarto-nav.js
_site/site_libs/quarto-search/autocomplete.umd.js
_site/site_libs/quarto-search/fuse.min.js
_site/site_libs/quarto-search/quarto-search.js
assets/oeda-icon-light-header.afdesign~lock~
