/.quarto/
_site/index.html
_site/oeda_brand.html
_site/search.json
_site/oeda_brand_files/figure-html/fig-swatches-1.png
_site/site_libs/bootstrap/bootstrap-4de76624cd36aa1ccb80540bc656e3be.min.css
_site/site_libs/bootstrap/bootstrap-dark-6742b773ce662da8d136fdba5a7b7777.min.css
_site/site_libs/bootstrap/bootstrap-icons.css
_site/site_libs/bootstrap/bootstrap-icons.woff
_site/site_libs/bootstrap/bootstrap.min.js
_site/site_libs/clipboard/clipboard.min.js
_site/site_libs/quarto-html/anchor.min.js
_site/site_libs/quarto-html/popper.min.js
_site/site_libs/quarto-html/quarto-syntax-highlighting-dark-69b66742dec2986618da3736c7e40921.css
_site/site_libs/quarto-html/quarto-syntax-highlighting-fa6c879f80bbc4170a695a6af0678231.css
_site/site_libs/quarto-html/quarto.js
_site/site_libs/quarto-html/tippy.css
_site/site_libs/quarto-html/tippy.umd.min.js
_site/site_libs/quarto-nav/headroom.min.js
_site/site_libs/quarto-nav/quarto-nav.js
_site/site_libs/quarto-search/autocomplete.umd.js
_site/site_libs/quarto-search/fuse.min.js
_site/site_libs/quarto-search/quarto-search.js
_site/site_libs/bootstrap/bootstrap-472b47a4a5e326ad112ef7c7e1c6c870.min.css
oeda_brand_files/figure-html/fig-swatches-1.png
_site/issues.html
assets/oeda-icon.afpub
assets/oeda-icon.afpub~lock~
_site/brand-pdf.html
_site/site_libs/bootstrap/bootstrap-dark-ee4a0280a472f03073c739e1e1c1fa8b.min.css
_site/site_libs/bootstrap/bootstrap-dark-8bf52956d856b83faeee32c76ad453bb.min.css
_site/site_libs/bootstrap/bootstrap-dark-61a04c20cdde3e946d7f8e512bc912b7.min.css
_site/site_libs/bootstrap/bootstrap-dark-9dc8a426374a655cbd3e63f3e6e3d49c.min.css
.gitignore
_site/oeda_brand_files/figure-html/bar-example-1..dark.svg
_site/oeda_brand_files/figure-html/bar-example-1..light.svg
_site/oeda_brand_files/figure-html/bar-example-2..dark.svg
_site/oeda_brand_files/figure-html/bar-example-2..light.svg
_site/oeda_brand_files/figure-html/facet-example-1..dark.svg
_site/oeda_brand_files/figure-html/facet-example-1..light.svg
.gitignore
_site/oeda_brand_files/figure-html/facet-example-2..dark.svg
_site/oeda_brand_files/figure-html/facet-example-2..light.svg
_site/oeda_brand_files/figure-html/scatter-example-1..dark.svg
_site/oeda_brand_files/figure-html/scatter-example-1..light.svg
_site/oeda_brand_files/figure-html/scatter-example-2..dark.svg
_site/oeda_brand_files/figure-html/scatter-example-2..light.svg
_site/site_libs/bootstrap/bootstrap-e3333b755b44dcbaad7d137fae864b4c.min.css
_site/light-dark.js
_site/oeda_brand_files/figure-html/fig-swatches-1..dark.svg
_site/oeda_brand_files/figure-html/fig-swatches-1..light.svg
_site/site_libs/bootstrap/bootstrap-be7ded584f381b9efe25164a1a72bd5b.min.css
_site/oeda_brand_files/figure-html/fig-swatches-2..dark.svg
_site/oeda_brand_files/figure-html/fig-swatches-2..light.svg
bar-example-dark.svg
bar-example-light.svg
facet-example-dark.svg
facet-example-light.svg
fig-swatches-dark.svg
fig-swatches-light.svg
manual-test-dark.svg
manual-test-light.svg
scatter-example-dark.svg
scatter-example-light.svg
test-scatter-dark.svg
test-scatter-light.svg
_site/bar-example-dark.svg
_site/bar-example-light.svg
_site/facet-example-dark.svg
_site/facet-example-light.svg
_site/fig-swatches-dark.svg
_site/fig-swatches-light.svg
_site/manual-test-dark.svg
_site/manual-test-light.svg
_site/plot-toggle-test.html
_site/scatter-example-dark.svg
_site/scatter-example-light.svg
_site/test-scatter-dark.svg
_site/test-scatter-light.svg
_site/site_libs/bootstrap/bootstrap-d1126d66a9fb8b35f47fd0626bd11fbf.min.css
_site/oeda_brand_files/figure-html/fig-bars-1.svg
_site/oeda_brand_files/figure-html/fig-bars-2.svg
_site/oeda_brand_files/figure-html/fig-scatter-1.svg
_site/oeda_brand_files/figure-html/fig-scatter-2.svg
_site/site_libs/bootstrap/bootstrap-7e847bded69f2dcd568bcf72f91e994d.min.css
_site/oeda_brand_files/figure-html/fig-swatches-1.svg
_site/oeda_brand_files/figure-html/fig-swatches-2.svg
_site/plot-toggle-test_files/figure-html/test-scatter-1.svg
_site/site_libs/bootstrap/bootstrap-dark-2fbbcd16161ea4e6d1873b6e25ae9987.min.css

**/*.quarto_ipynb
.vscode/launch.json
_site/clean_renderings_test.html
_site/minimal_renderings_test.html
_site/clean_renderings_test_files/figure-html/test-base-graphics-1.svg
_site/clean_renderings_test_files/figure-html/test-base-graphics-2.svg
_site/clean_renderings_test_files/figure-html/test-basic-renderings-1.svg
_site/clean_renderings_test_files/figure-html/test-basic-renderings-2.svg
_site/clean_renderings_test_files/figure-html/test-oeda-themes-1.svg
_site/clean_renderings_test_files/figure-html/test-oeda-themes-2.svg
_site/minimal_renderings_test_files/figure-html/unnamed-chunk-1-1.svg
_site/minimal_renderings_test_files/figure-html/unnamed-chunk-1-2.svg
_site/oeda_brand_files/figure-html/bar-chart-1.svg
_site/oeda_brand_files/figure-html/bar-chart-2.svg
_site/oeda_brand_files/figure-html/color-swatches-1.svg
_site/oeda_brand_files/figure-html/color-swatches-2.svg
_site/oeda_brand_files/figure-html/scatter-plot-1.svg
_site/oeda_brand_files/figure-html/scatter-plot-2.svg
_site/site_libs/bootstrap/bootstrap-a9d2d68699fac0b406e963c969d3b571.min.css
_site/site_libs/bootstrap/bootstrap-dark-d651a3e70fb7ef35788828982d7d3a6d.min.css
_site/site_libs/quarto-html/quarto-syntax-highlighting-1571ee4bb74045c183374d4d5479276b.css
_site/site_libs/quarto-html/quarto-syntax-highlighting-dark-64611ebbca5030ba7e992803fc12815a.css
_site/site_libs/quarto-html/axe/axe-check.js
_site/site_libs/quarto-html/tabsets/tabsets.js
_site/oeda_brand_files/figure-html/render-bar-plot-1.svg
_site/oeda_brand_files/figure-html/render-bar-plot-2.svg
assets/oeda-logo-wide-light.afpub
_site/oeda_brand_files/figure-html/render-scatter-plot-1.svg
_site/oeda_brand_files/figure-html/render-scatter-plot-2.svg
_site/oeda_brand_files/figure-html/render-swatch-plots-1.svg
_site/oeda_brand_files/figure-html/render-swatch-plots-2.svg
_site/site_libs/bootstrap/bootstrap-b15112a2d244777a591300961c5faa5d.min.css
assets/oeda-icon-fixed.afpub
assets/oeda-icon-dark-fixed.afpub
_site/site_libs/bootstrap/bootstrap-dark-519c2846046bb386c0fb98a7c526906a.min.css
_site/site_libs/bootstrap/bootstrap-dark-aa9eb252c3e94996e990a31c7e8bc6f5.min.css
_site/site_libs/bootstrap/bootstrap-dark-b2a397850d0f5aab2c335ad54268586d.min.css
_site/assets/oeda-icon-dark-fixed.afpub
_site/assets/oeda-icon-fixed.afdesign
_site/assets/oeda-icon-fixed.afpub
_site/assets/oeda-icon.afpub
_site/assets/oeda-logo-wide-dark-fixed.afpub
_site/assets/oeda-logo-wide-light.afpub
assets/oeda-icon-dark-fixed.afdesign
assets/oeda-icon-fixed.afdesign
assets/oeda-icon-fixed.afpub~lock~
assets/oeda-icon-light-header.afdesign
assets/oeda-icon-light-header.afdesign~lock~
deprecated/minimal_renderings_test.html
