/*-- scss:defaults --*/
// This is where Quarto injects the variables from _brand.yml

/*-- scss:rules --*/
// Import Quarto's default Bootstrap theme.
// The branding variables will be automatically applied to this.
// TODO: Figure out why the import fails. For now it's fixed in yaml header of test qmd file.
//@import "quarto/theme/bootstrap";

.quarto-title-block .quarto-title-banner {
/*  background-image: url(assets/oeda-logo-primary-dark-fixed.svg); */
    background-image: url(assets/oeda-logo-horizontal-dark-clean.svg);
/*  background-image: url(assets/oeda-logo-primary-dark-fixed.svg);*/
/* background-image: url(assets/oeda-logo-primary-dark-fixed.svg);*/
/*  background-image: url(assets/oeda-logo-primary-dark-fixed.svg);*/

  /* Make the logo fit entirely inside the banner, maintaining aspect ratio */
  background-size: contain; 
  
  /* Position it 20px from the left and centered vertically */
  background-position: 20px center; 
  
  background-repeat: no-repeat;
  
  /* This padding is now for the text, not the logo position */
  padding-left: 10px; 
}